@CHARSET "UTF-8";

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
li {
  flex: 0 0 25%;
  border: 1px solid grey;
  padding: 1em;
  display: flex;
  align-items: flex-end;
}